In [1]:
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\Users\Ronit Shaw\Downloads\archive\Loan_Default.csv")

In [8]:
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

In [10]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [11]:
df = df.dropna(axis=1, how='all')

In [12]:
df = df.dropna()

In [13]:
df = df.drop_duplicates()

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df.select_dtypes(include='object').columns

Index(['loan_limit', 'Gender', 'approv_in_adv', 'loan_type', 'loan_purpose',
       'Credit_Worthiness', 'open_credit', 'business_or_commercial',
       'Neg_ammortization', 'interest_only', 'lump_sum_payment',
       'construction_type', 'occupancy_type', 'Secured_by', 'total_units',
       'credit_type', 'co-applicant_credit_type', 'age',
       'submission_of_application', 'Region', 'Security_Type'],
      dtype='object')

In [16]:
df = pd.get_dummies(df, drop_first=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98187 entries, 2 to 148669
Data columns (total 47 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ID                                 98187 non-null  int64
 1   year                               98187 non-null  int64
 2   loan_amount                        98187 non-null  int64
 3   rate_of_interest                   98187 non-null  float64
 4   Interest_rate_spread               98187 non-null  float64
 5   Upfront_charges                    98187 non-null  float64
 6   term                               98187 non-null  float64
 7   property_value                     98187 non-null  float64
 8   income                             98187 non-null  float64
 9   Credit_Score                       98187 non-null  int64
 10  LTV                                98187 non-null  float64
 11  Status                             98187 non-null  int64
 12  dtir1                              98187 non-null  float64
 13  loan_limit_ncf                     98187 non-null  bool
 14  Gender_Joint                       98187 non-null  bool
 15  Gender_Male                        98187 non-null  bool
 16  Gender_Sex Not Available           98187 non-null  bool
 17  approv_in_adv_pre                  98187 non-null  bool
 18  loan_type_type2                    98187 non-null  bool
 19  loan_type_type3                    98187 non-null  bool
 20  loan_purpose_p2                    98187 non-null  bool
 21  loan_purpose_p3                    98187 non-null  bool
 22  loan_purpose_p4                    98187 non-null  bool
 23  Credit_Worthiness_l2               98187 non-null  bool
 24  business_or_commercial_nob/c       98187 non-null  bool
 25  Neg_ammortization_not_neg          98187 non-null  bool
 26  interest_only_not_int              98187 non-null  bool
 27  lump_sum_payment_not_lpsm          98187 non-null  bool
 28  occupancy_type_pr                  98187 non-null  bool
 29  occupancy_type_sr                  98187 non-null  bool
 30  total_units_2U                     98187 non-null  bool
 31  total_units_3U                     98187 non-null  bool
 32  total_units_4U                     98187 non-null  bool
 33  credit_type_CRIF                   98187 non-null  bool
 34  credit_type_EQUI                   98187 non-null  bool
 35  credit_type_EXP                    98187 non-null  bool
 36  co-applicant_credit_type_EXP       98187 non-null  bool
 37  age_35-44                          98187 non-null  bool
 38  age_45-54                          98187 non-null  bool
 39  age_55-64                          98187 non-null  bool
 40  age_65-74                          98187 non-null  bool
 41  age_<25                            98187 non-null  bool
 42  age_>74                            98187 non-null  bool
 43  submission_of_application_to_inst  98187 non-null  bool
 44  Region_North-East                  98187 non-null  bool
 45  Region_central                     98187 non-null  bool
 46  Region_south                       98187 non-null  bool
dtypes: bool(34), float64(8), int64(5)
memory usage: 13.7 MB

In [19]:
df.to_csv(r"C:\Users\Ronit Shaw\Downloads\archive\Loan_Default.csv", index=False)