In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Loan_Default_cleaned.csv to Loan_Default_cleaned.csv

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Loan_Default_cleaned.csv")

In [ ]:
df.head()

,year,loan_type,loan_purpose,Credit_Worthiness,open_credit,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,...,income,credit_type,Credit_Score,co-applicant_credit_type,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,2019,type1,p1,l1,nopc,116500,NaN,NaN,NaN,360.0,...,1740.0,EXP,758,CIB,to_inst,98.728814,south,direct,1,45.0
1,2019,type2,p1,l1,nopc,206500,NaN,NaN,NaN,360.0,...,4980.0,EQUI,552,EXP,to_inst,NaN,North,direct,1,NaN
2,2019,type1,p1,l1,nopc,406500,4.56,0.2000,595.0,360.0,...,9480.0,EXP,834,CIB,to_inst,80.019685,south,direct,0,46.0
3,2019,type1,p4,l1,nopc,456500,4.25,0.6810,NaN,360.0,...,11880.0,EXP,587,CIB,not_inst,69.376900,North,direct,0,42.0
4,2019,type1,p1,l1,nopc,696500,4.00,0.3042,0.0,360.0,...,10440.0,CRIF,602,EXP,not_inst,91.886544,North,direct,0,39.0

In [ ]:
df.isnull().sum()

year                             0
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [ ]:
num_cols = df.select_dtypes(include=['int64', 'float64']).columns

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

In [ ]:
df.isnull().sum()

year                           0
loan_type                      0
loan_purpose                 134
Credit_Worthiness              0
open_credit                    0
loan_amount                    0
rate_of_interest               0
Interest_rate_spread           0
Upfront_charges                0
term                           0
Neg_ammortization            121
interest_only                  0
lump_sum_payment               0
property_value                 0
construction_type              0
occupancy_type                 0
Secured_by                     0
total_units                    0
income                         0
credit_type                    0
Credit_Score                   0
co-applicant_credit_type       0
submission_of_application    200
LTV                            0
Region                         0
Security_Type                  0
Status                         0
dtir1                          0
dtype: int64

In [ ]:
cat_cols = ['loan_purpose', 'Neg_ammortization', 'submission_of_application']

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
df.isnull().sum()

year                         0
loan_type                    0
loan_purpose                 0
Credit_Worthiness            0
open_credit                  0
loan_amount                  0
rate_of_interest             0
Interest_rate_spread         0
Upfront_charges              0
term                         0
Neg_ammortization            0
interest_only                0
lump_sum_payment             0
property_value               0
construction_type            0
occupancy_type               0
Secured_by                   0
total_units                  0
income                       0
credit_type                  0
Credit_Score                 0
co-applicant_credit_type     0
submission_of_application    0
LTV                          0
Region                       0
Security_Type                0
Status                       0
dtir1                        0
dtype: int64

In [ ]:
df[['loan_purpose', 'Neg_ammortization', 'submission_of_application']].isnull().sum()

loan_purpose                 0
Neg_ammortization            0
submission_of_application    0
dtype: int64

In [ ]:
df.isnull().sum().sum()

np.int64(0)

In [ ]:
df.isnull().values.any()

np.False_

In [ ]:
df.duplicated().sum()

np.int64(4)

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
num_cols

Index(['year', 'loan_amount', 'rate_of_interest', 'Interest_rate_spread',
       'Upfront_charges', 'term', 'property_value', 'income', 'Credit_Score',
       'LTV', 'Status', 'dtir1'],
      dtype='object')

In [ ]:
df[num_cols].describe()

,year,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,dtir1
count,148666.0,1.486660e+05,148666.000000,148666.000000,148666.000000,148666.000000,1.486660e+05,148666.000000,148666.000000,148666.000000,148666.000000,148666.000000
mean,2019.0,3.311191e+05,4.031880,0.429025,3057.410321,335.142770,4.897837e+05,6883.794277,699.792461,72.988893,0.246425,37.938480
std,0.0,1.839099e+05,0.488354,0.445913,2798.009584,58.403131,3.420254e+05,6300.075251,115.875386,37.891162,0.430930,9.663545
min,2019.0,1.650000e+04,0.000000,-3.638000,0.000000,96.000000,8.000000e+03,0.000000,500.000000,0.967478,0.000000,5.000000
25%,2019.0,1.965000e+05,3.750000,0.181500,1250.000000,360.000000,2.880000e+05,3840.000000,599.000000,63.297872,0.000000,33.000000
50%,2019.0,2.965000e+05,3.990000,0.390400,2596.450000,360.000000,4.180000e+05,5760.000000,699.000000,75.135870,0.000000,39.000000
75%,2019.0,4.365000e+05,4.250000,0.620000,3889.820000,360.000000,5.980000e+05,8280.000000,800.000000,84.722222,0.000000,44.000000
max,2019.0,3.576500e+06,8.000000,3.357000,60000.000000,360.000000,1.650800e+07,578580.000000,900.000000,7831.250000,1.000000,61.000000

In [ ]:
# @title Default title text
cat_cols = df.select_dtypes(include=['object']).columns
cat_cols

Index(['loan_type', 'loan_purpose', 'Credit_Worthiness', 'open_credit',
       'Neg_ammortization', 'interest_only', 'lump_sum_payment',
       'construction_type', 'occupancy_type', 'Secured_by', 'total_units',
       'credit_type', 'co-applicant_credit_type', 'submission_of_application',
       'Region', 'Security_Type'],
      dtype='object')

In [ ]:
df['Status'].value_counts(dropna=False)

Status
0    112031
1     36635
Name: count, dtype: int64

In [ ]:
df = pd.get_dummies(df, drop_first=True)

In [ ]:
X = df.drop('Status', axis=1)
y = df['Status']

In [ ]:
df.isnull().sum()

year                                 0
loan_amount                          0
rate_of_interest                     0
Interest_rate_spread                 0
Upfront_charges                      0
term                                 0
property_value                       0
income                               0
Credit_Score                         0
LTV                                  0
Status                               0
dtir1                                0
loan_type_type2                      0
loan_type_type3                      0
loan_purpose_p2                      0
loan_purpose_p3                      0
loan_purpose_p4                      0
Credit_Worthiness_l2                 0
open_credit_opc                      0
Neg_ammortization_not_neg            0
interest_only_not_int                0
lump_sum_payment_not_lpsm            0
construction_type_sb                 0
occupancy_type_pr                    0
occupancy_type_sr                    0
Secured_by_land                      0
total_units_2U                       0
total_units_3U                       0
total_units_4U                       0
credit_type_CRIF                     0
credit_type_EQUI                     0
credit_type_EXP                      0
co-applicant_credit_type_EXP         0
submission_of_application_to_inst    0
Region_North-East                    0
Region_central                       0
Region_south                         0
Security_Type_direct                 0
dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled_array = scaler.fit_transform(X)

In [ ]:
X_scaled = pd.DataFrame(X_scaled_array, columns=X.columns)
X_scaled['Status'] = y.values

In [ ]:
X_scaled.isnull().sum().sum()

np.int64(0)

In [ ]:
X_scaled.drop('Status', axis=1).describe()

,year,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,...,total_units_4U,credit_type_CRIF,credit_type_EQUI,credit_type_EXP,co-applicant_credit_type_EXP,submission_of_application_to_inst,Region_North-East,Region_central,Region_south,Security_Type_direct
count,148666.0,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,...,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05,1.486660e+05
mean,0.0,-1.300012e-17,6.540687e-16,1.381741e-16,-1.066775e-16,3.949743e-16,-3.240472e-17,-1.935680e-17,-3.393414e-17,1.864795e-16,...,-2.413626e-18,2.210499e-17,-5.580016e-18,-5.594354e-17,4.865487e-17,3.037345e-17,-4.808134e-17,-6.786829e-17,1.361428e-16,8.283755e-16
std,0.0,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,...,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00
min,0.0,-1.710730e+00,-8.256087e+00,-9.120707e+00,-1.092713e+00,-4.094705e+00,-1.408624e+00,-1.092656e+00,-1.724207e+00,-1.900751e+00,...,-4.644480e-02,-6.473350e-01,-3.386445e-01,-6.204013e-01,-9.992066e-01,-1.350332e+00,-9.152486e-02,-2.492693e-01,-8.695987e-01,-6.711207e+01
25%,0.0,-7.319865e-01,-5.772058e-01,-5.550994e-01,-6.459650e-01,4.256161e-01,-5.899688e-01,-4.831378e-01,-8.698379e-01,-2.557602e-01,...,-4.644480e-02,-6.473350e-01,-3.386445e-01,-6.204013e-01,-9.992066e-01,-1.350332e+00,-9.152486e-02,-2.492693e-01,-8.695987e-01,1.490045e-02
50%,0.0,-1.882400e-01,-8.575737e-02,-8.662038e-02,-1.647464e-01,4.256161e-01,-2.098789e-01,-1.783785e-01,-6.838930e-03,5.666187e-02,...,-4.644480e-02,-6.473350e-01,-3.386445e-01,-6.204013e-01,-9.992066e-01,7.405584e-01,-9.152486e-02,-2.492693e-01,-8.695987e-01,1.490045e-02
75%,0.0,5.730051e-01,4.466451e-01,4.282804e-01,2.975017e-01,4.256161e-01,3.163996e-01,2.216181e-01,8.647900e-01,3.096598e-01,...,-4.644480e-02,1.544795e+00,-3.386445e-01,1.611860e+00,1.000794e+00,7.405584e-01,-9.152486e-02,-2.492693e-01,1.149956e+00,1.490045e-02
max,0.0,1.764664e+01,8.125526e+00,6.566275e+00,2.035117e+01,4.256161e-01,4.683356e+01,9.074465e+01,1.727789e+00,2.047519e+02,...,2.153094e+01,1.544795e+00,2.952949e+00,1.611860e+00,1.000794e+00,7.405584e-01,1.092599e+01,4.011725e+00,1.149956e+00,1.490045e-02

In [ ]:
X_scaled.head()

,year,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,...,credit_type_CRIF,credit_type_EQUI,credit_type_EXP,co-applicant_credit_type_EXP,submission_of_application_to_inst,Region_North-East,Region_central,Region_south,Security_Type_direct,Status
0,0.0,-1.166984,-0.085757,-0.086620,-0.164746,0.425616,-1.087010,-0.816468,0.502330,0.679314,...,-0.647335,-0.338645,1.611860,-0.999207,0.740558,-0.091525,-0.249269,1.149956,0.0149,1
1,0.0,-0.677612,-0.085757,-0.086620,-0.164746,0.425616,-0.209879,-0.302187,-1.275447,0.056662,...,-0.647335,2.952949,-0.620401,1.000794,0.740558,-0.091525,-0.249269,-0.869599,0.0149,1
2,0.0,0.409881,1.081433,-0.513611,-0.880061,0.425616,0.053260,0.412093,1.158210,0.185553,...,-0.647335,-0.338645,1.611860,-0.999207,0.740558,-0.091525,-0.249269,1.149956,0.0149,0
3,0.0,0.681754,0.446645,0.565079,-0.164746,0.425616,0.491826,0.793042,-0.973398,-0.095326,...,-0.647335,-0.338645,1.611860,-0.999207,-1.350332,-0.091525,-0.249269,-0.869599,0.0149,0
4,0.0,1.986746,-0.065280,-0.279932,-1.092713,0.425616,0.784203,0.564472,-0.843948,0.498737,...,1.544795,-0.338645,-0.620401,1.000794,-1.350332,-0.091525,-0.249269,-0.869599,0.0149,0

In [ ]:
X_scaled.isnull().sum().sort_values(ascending=False).head(10)

year                    0
loan_amount             0
rate_of_interest        0
Interest_rate_spread    0
Upfront_charges         0
term                    0
property_value          0
income                  0
Credit_Score            0
LTV                     0
dtype: int64

In [ ]:
X_scaled.to_csv("loan_data_preprocessed.csv", index=False)

In [ ]:
!ls

loan_data_preprocessed.csv  Loan_Default_cleaned.csv  sample_data

In [ ]:
from google.colab import files
files.download("loan_data_preprocessed.csv")

In [ ]:
X_scaled = X_scaled.drop('year', axis=1)

In [ ]:
X_scaled.columns

Index(['loan_amount', 'rate_of_interest', 'Interest_rate_spread',
       'Upfront_charges', 'term', 'property_value', 'income', 'Credit_Score',
       'LTV', 'dtir1', 'loan_type_type2', 'loan_type_type3', 'loan_purpose_p2',
       'loan_purpose_p3', 'loan_purpose_p4', 'Credit_Worthiness_l2',
       'open_credit_opc', 'Neg_ammortization_not_neg', 'interest_only_not_int',
       'lump_sum_payment_not_lpsm', 'construction_type_sb',
       'occupancy_type_pr', 'occupancy_type_sr', 'Secured_by_land',
       'total_units_2U', 'total_units_3U', 'total_units_4U',
       'credit_type_CRIF', 'credit_type_EQUI', 'credit_type_EXP',
       'co-applicant_credit_type_EXP', 'submission_of_application_to_inst',
       'Region_North-East', 'Region_central', 'Region_south',
       'Security_Type_direct', 'Status'],
      dtype='object')

In [ ]:
X_scaled.isnull().sum().sum()

np.int64(0)

In [ ]:
X_scaled.shape

(148666, 37)

In [ ]:
X_scaled.to_csv("loan_data_preprocessed.csv", index=False)

In [ ]:
from google.colab import files
files.download("loan_data_preprocessed.csv")

In [ ]:
sample_df = X_scaled.sample(n=5000, random_state=42)
sample_df.to_csv("loan_data_sample.csv", index=False)

In [ ]:
from google.colab import files
files.download("loan_data_sample.csv")