In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
file_path = "/content/drive/MyDrive/infosys/Loan_Default.csv"
df = pd.read_csv(file_path)
print(df)

            ID  year loan_limit             Gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose Credit_Worthiness open_credit business_or_commercial  ...  \
0                p1                l1        nopc                  nob/c  ...
1                p1                l1        nopc                    b/c  ...
2                p1                l1        nopc                  nob/c  ...
3                p4                l1        nopc                  nob/c  ...
4                p1                l1        nopc                  nob/c  ...
...             ...               ...         ...                    ...  ...
148665           p3                l1        nopc                  nob/c  ...
148666           p1                l1        nopc                  nob/c  ...
148667           p4                l1        nopc                  nob/c  ...
148668           p4                l1        nopc                  nob/c  ...
148669           p3                l1        nopc                  nob/c  ...

        credit_type  Credit_Score  co-applicant_credit_type    age  \
0               EXP           758                       CIB  25-34
1              EQUI           552                       EXP  55-64
2               EXP           834                       CIB  35-44
3               EXP           587                       CIB  45-54
4              CRIF           602                       EXP  25-34
...             ...           ...                       ...    ...
148665          CIB           659                       EXP  55-64
148666          CIB           569                       CIB  25-34
148667          CIB           702                       EXP  45-54
148668          EXP           737                       EXP  55-64
148669          CIB           830                       CIB  45-54

        submission_of_application        LTV Region Security_Type  Status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst        NaN  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[148670 rows x 34 columns]

In [4]:
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [5]:
print(df.shape)

(148670, 34)

In [6]:
print(df.columns)

Index(['ID', 'year', 'loan_limit', 'Gender', 'approv_in_adv', 'loan_type',
       'loan_purpose', 'Credit_Worthiness', 'open_credit',
       'business_or_commercial', 'loan_amount', 'rate_of_interest',
       'Interest_rate_spread', 'Upfront_charges', 'term', 'Neg_ammortization',
       'interest_only', 'lump_sum_payment', 'property_value',
       'construction_type', 'occupancy_type', 'Secured_by', 'total_units',
       'income', 'credit_type', 'Credit_Score', 'co-applicant_credit_type',
       'age', 'submission_of_application', 'LTV', 'Region', 'Security_Type',
       'Status', 'dtir1'],
      dtype='object')

In [7]:
df.info()
df.isna().sum()
df["Status"].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

Status
0    112031
1     36639
Name: count, dtype: int64

In [8]:
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(" ", "_")
)

print(df)

            id  year loan_limit             gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose credit_worthiness open_credit business_or_commercial  ...  \
0                p1                l1        nopc                  nob/c  ...
1                p1                l1        nopc                    b/c  ...
2                p1                l1        nopc                  nob/c  ...
3                p4                l1        nopc                  nob/c  ...
4                p1                l1        nopc                  nob/c  ...
...             ...               ...         ...                    ...  ...
148665           p3                l1        nopc                  nob/c  ...
148666           p1                l1        nopc                  nob/c  ...
148667           p4                l1        nopc                  nob/c  ...
148668           p4                l1        nopc                  nob/c  ...
148669           p3                l1        nopc                  nob/c  ...

        credit_type  credit_score  co-applicant_credit_type    age  \
0               EXP           758                       CIB  25-34
1              EQUI           552                       EXP  55-64
2               EXP           834                       CIB  35-44
3               EXP           587                       CIB  45-54
4              CRIF           602                       EXP  25-34
...             ...           ...                       ...    ...
148665          CIB           659                       EXP  55-64
148666          CIB           569                       CIB  25-34
148667          CIB           702                       EXP  45-54
148668          EXP           737                       EXP  55-64
148669          CIB           830                       CIB  45-54

        submission_of_application        ltv region security_type  status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst        NaN  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[148670 rows x 34 columns]

In [9]:
df.drop_duplicates(inplace=True)
print(df)

            id  year loan_limit             gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose credit_worthiness open_credit business_or_commercial  ...  \
0                p1                l1        nopc                  nob/c  ...
1                p1                l1        nopc                    b/c  ...
2                p1                l1        nopc                  nob/c  ...
3                p4                l1        nopc                  nob/c  ...
4                p1                l1        nopc                  nob/c  ...
...             ...               ...         ...                    ...  ...
148665           p3                l1        nopc                  nob/c  ...
148666           p1                l1        nopc                  nob/c  ...
148667           p4                l1        nopc                  nob/c  ...
148668           p4                l1        nopc                  nob/c  ...
148669           p3                l1        nopc                  nob/c  ...

        credit_type  credit_score  co-applicant_credit_type    age  \
0               EXP           758                       CIB  25-34
1              EQUI           552                       EXP  55-64
2               EXP           834                       CIB  35-44
3               EXP           587                       CIB  45-54
4              CRIF           602                       EXP  25-34
...             ...           ...                       ...    ...
148665          CIB           659                       EXP  55-64
148666          CIB           569                       CIB  25-34
148667          CIB           702                       EXP  45-54
148668          EXP           737                       EXP  55-64
148669          CIB           830                       CIB  45-54

        submission_of_application        ltv region security_type  status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst        NaN  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[148670 rows x 34 columns]

In [10]:
numeric_cols = [
    "loan_amount","rate_of_interest","interest_rate_spread",
    "upfront_charges","term","property_value","income",
    "credit_score","ltv","dtir1"
]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")
print(df)

            id  year loan_limit             gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose credit_worthiness open_credit business_or_commercial  ...  \
0                p1                l1        nopc                  nob/c  ...
1                p1                l1        nopc                    b/c  ...
2                p1                l1        nopc                  nob/c  ...
3                p4                l1        nopc                  nob/c  ...
4                p1                l1        nopc                  nob/c  ...
...             ...               ...         ...                    ...  ...
148665           p3                l1        nopc                  nob/c  ...
148666           p1                l1        nopc                  nob/c  ...
148667           p4                l1        nopc                  nob/c  ...
148668           p4                l1        nopc                  nob/c  ...
148669           p3                l1        nopc                  nob/c  ...

        credit_type  credit_score  co-applicant_credit_type    age  \
0               EXP           758                       CIB  25-34
1              EQUI           552                       EXP  55-64
2               EXP           834                       CIB  35-44
3               EXP           587                       CIB  45-54
4              CRIF           602                       EXP  25-34
...             ...           ...                       ...    ...
148665          CIB           659                       EXP  55-64
148666          CIB           569                       CIB  25-34
148667          CIB           702                       EXP  45-54
148668          EXP           737                       EXP  55-64
148669          CIB           830                       CIB  45-54

        submission_of_application        ltv region security_type  status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst        NaN  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[148670 rows x 34 columns]

In [11]:
from sklearn.impute import SimpleImputer

num_imputer = SimpleImputer(strategy="median")
cat_imputer = SimpleImputer(strategy="most_frequent")

num_cols = df.select_dtypes(include=["int64","float64"]).columns
cat_cols = df.select_dtypes(include="object").columns

df[num_cols] = num_imputer.fit_transform(df[num_cols])
df[cat_cols] = cat_imputer.fit_transform(df[cat_cols])
print(df)

              id    year loan_limit             gender approv_in_adv  \
0        24890.0  2019.0         cf  Sex Not Available         nopre
1        24891.0  2019.0         cf               Male         nopre
2        24892.0  2019.0         cf               Male           pre
3        24893.0  2019.0         cf               Male         nopre
4        24894.0  2019.0         cf              Joint           pre
...          ...     ...        ...                ...           ...
148665  173555.0  2019.0         cf  Sex Not Available         nopre
148666  173556.0  2019.0         cf               Male         nopre
148667  173557.0  2019.0         cf               Male         nopre
148668  173558.0  2019.0         cf             Female         nopre
148669  173559.0  2019.0         cf             Female         nopre

       loan_type loan_purpose credit_worthiness open_credit  \
0          type1           p1                l1        nopc
1          type2           p1                l1        nopc
2          type1           p1                l1        nopc
3          type1           p4                l1        nopc
4          type1           p1                l1        nopc
...          ...          ...               ...         ...
148665     type1           p3                l1        nopc
148666     type1           p1                l1        nopc
148667     type1           p4                l1        nopc
148668     type1           p4                l1        nopc
148669     type1           p3                l1        nopc

       business_or_commercial  ...  credit_type  credit_score  \
0                       nob/c  ...          EXP         758.0
1                         b/c  ...         EQUI         552.0
2                       nob/c  ...          EXP         834.0
3                       nob/c  ...          EXP         587.0
4                       nob/c  ...         CRIF         602.0
...                       ...  ...          ...           ...
148665                  nob/c  ...          CIB         659.0
148666                  nob/c  ...          CIB         569.0
148667                  nob/c  ...          CIB         702.0
148668                  nob/c  ...          EXP         737.0
148669                  nob/c  ...          CIB         830.0

        co-applicant_credit_type    age  submission_of_application        ltv  \
0                            CIB  25-34                    to_inst  98.728814
1                            EXP  55-64                    to_inst  75.135870
2                            CIB  35-44                    to_inst  80.019685
3                            CIB  45-54                   not_inst  69.376900
4                            EXP  25-34                   not_inst  91.886544
...                          ...    ...                        ...        ...
148665                       EXP  55-64                    to_inst  71.792763
148666                       CIB  25-34                   not_inst  74.428934
148667                       EXP  45-54                   not_inst  61.332418
148668                       EXP  55-64                    to_inst  70.683453
148669                       CIB  45-54                   not_inst  72.849462

       region security_type  status dtir1
0       south        direct     1.0  45.0
1       North        direct     1.0  39.0
2       south        direct     0.0  46.0
3       North        direct     0.0  42.0
4       North        direct     0.0  39.0
...       ...           ...     ...   ...
148665  south        direct     0.0  48.0
148666  south        direct     0.0  15.0
148667  North        direct     0.0  49.0
148668  North        direct     0.0  29.0
148669  North        direct     0.0  44.0

[148670 rows x 34 columns]

In [12]:
df["status"] = df["status"].astype(int)

In [18]:
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df[col] = df[col].clip(lower, upper)

In [20]:
print(df.columns.tolist())

['id', 'year', 'loan_amount', 'rate_of_interest', 'interest_rate_spread', 'upfront_charges', 'term', 'property_value', 'income', 'credit_score', 'ltv', 'status', 'dtir1', 'loan_limit_ncf', 'gender_Joint', 'gender_Male', 'gender_Sex Not Available', 'approv_in_adv_pre', 'loan_type_type2', 'loan_type_type3', 'loan_purpose_p2', 'loan_purpose_p3', 'loan_purpose_p4', 'credit_worthiness_l2', 'open_credit_opc', 'business_or_commercial_nob/c', 'neg_ammortization_not_neg', 'interest_only_not_int', 'lump_sum_payment_not_lpsm', 'occupancy_type_pr', 'occupancy_type_sr', 'total_units_2U', 'total_units_3U', 'total_units_4U', 'credit_type_CRIF', 'credit_type_EQUI', 'credit_type_EXP', 'co-applicant_credit_type_EXP', 'age_35-44', 'age_45-54', 'age_55-64', 'age_65-74', 'age_<25', 'age_>74', 'submission_of_application_to_inst', 'region_North-East', 'region_central', 'region_south']

In [21]:
df.drop("id", axis=1, inplace=True)

In [22]:
print(df.isna().sum().sum())
print(df.shape)

0
(63217, 47)

In [23]:
print(df)

        year  loan_amount  rate_of_interest  interest_rate_spread  \
2        0.0     0.500760          1.100931             -0.424288
3        0.0     0.836645          0.416942              0.783741
4        0.0     2.448889         -0.134662             -0.162590
5        0.0     2.516066         -0.156726             -0.544086
6        0.0     0.097699          0.968546              1.584405
...      ...          ...               ...                   ...
148653   0.0    -1.044308          2.049690              0.697345
148654   0.0    -1.313015         -0.156726             -0.444129
148656   0.0    -0.708423          2.049690              2.113828
148659   0.0     0.567937          0.692744             -0.868822
148660   0.0     0.232053         -0.410464             -1.220683

        upfront_charges  term  property_value    income  credit_score  \
2             -0.847169   0.0        0.276385  1.367049      1.164139
3              0.050212   0.0        0.990772  2.283983     -0.971311
4             -1.113946   0.0        1.467031  1.733823     -0.841628
5             -0.948051   0.0        2.657676  1.596282      1.423505
6              1.181685   0.0       -0.056996 -0.329280      1.388923
...                 ...   ...             ...       ...           ...
148653         0.382473   0.0       -1.009513 -0.443897      0.109382
148654         0.878648   0.0       -0.533255 -0.306357     -0.392060
148656        -1.113946   0.0       -0.866635 -1.062827     -0.296959
148659         1.436316   0.0        0.752643 -0.696054     -1.550563
148660         0.519521   0.0        0.990772  0.495961      1.311113

             ltv  ...  age_35-44  age_45-54  age_55-64  age_65-74  age_<25  \
2       0.257646  ...       True      False      False      False    False
3      -0.431991  ...      False       True      False      False    False
4       1.026602  ...      False      False      False      False    False
5      -0.385829  ...       True      False      False      False    False
6       0.198674  ...      False      False       True      False    False
...          ...  ...        ...        ...        ...        ...      ...
148653 -0.122074  ...      False      False      False       True    False
148654 -2.310648  ...      False      False       True      False    False
148656  0.548931  ...      False       True      False      False    False
148659 -0.488599  ...      False      False      False       True    False
148660 -1.318293  ...      False       True      False      False    False

        age_>74  submission_of_application_to_inst  region_North-East  \
2         False                               True              False
3         False                              False              False
4         False                              False              False
5         False                              False              False
6         False                               True              False
...         ...                                ...                ...
148653    False                               True              False
148654    False                               True              False
148656    False                               True              False
148659    False                               True              False
148660    False                              False              False

        region_central  region_south
2                False          True
3                False         False
4                False         False
5                False         False
6                False         False
...                ...           ...
148653           False          True
148654           False         False
148656           False          True
148659           False          True
148660           False         False

[63217 rows x 47 columns]