<a href="https://colab.research.google.com/github/springboardmentor2801p/CreditPathAI/blob/roshan/CreditPath_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
file_path = "/content/drive/MyDrive/infosys/Loan_Default.csv"
df = pd.read_csv(file_path)
print(df)

            ID  year loan_limit             Gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose Credit_Worthiness open_credit business_or_commercial  ...  \
0                p1                l1        nopc                  nob/c  ...
1                p1                l1        nopc                    b/c  ...
2                p1                l1        nopc                  nob/c  ...
3                p4                l1        nopc                  nob/c  ...
4                p1                l1        nopc                  nob/c  ...
...             ...               ...         ...                    ...  ...
148665           p3                l1        nopc                  nob/c  ...
148666           p1                l1        nopc                  nob/c  ...
148667           p4                l1        nopc                  nob/c  ...
148668           p4                l1        nopc                  nob/c  ...
148669           p3                l1        nopc                  nob/c  ...

        credit_type  Credit_Score  co-applicant_credit_type    age  \
0               EXP           758                       CIB  25-34
1              EQUI           552                       EXP  55-64
2               EXP           834                       CIB  35-44
3               EXP           587                       CIB  45-54
4              CRIF           602                       EXP  25-34
...             ...           ...                       ...    ...
148665          CIB           659                       EXP  55-64
148666          CIB           569                       CIB  25-34
148667          CIB           702                       EXP  45-54
148668          EXP           737                       EXP  55-64
148669          CIB           830                       CIB  45-54

        submission_of_application        LTV Region Security_Type  Status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst        NaN  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[148670 rows x 34 columns]

In [4]:
df.shape

(148670, 34)

In [6]:
print(df.columns.tolist())

['ID', 'year', 'loan_limit', 'Gender', 'approv_in_adv', 'loan_type', 'loan_purpose', 'Credit_Worthiness', 'open_credit', 'business_or_commercial', 'loan_amount', 'rate_of_interest', 'Interest_rate_spread', 'Upfront_charges', 'term', 'Neg_ammortization', 'interest_only', 'lump_sum_payment', 'property_value', 'construction_type', 'occupancy_type', 'Secured_by', 'total_units', 'income', 'credit_type', 'Credit_Score', 'co-applicant_credit_type', 'age', 'submission_of_application', 'LTV', 'Region', 'Security_Type', 'Status', 'dtir1']

In [7]:
df["Status"].value_counts()

Status
0    112031
1     36639
Name: count, dtype: int64

In [ ]:
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(" ", "_")
)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
from sklearn.impute import SimpleImputer

num_cols = df.select_dtypes(include=["int64","float64"]).columns
cat_cols = df.select_dtypes(include="object").columns

df[num_cols] = SimpleImputer(strategy="median").fit_transform(df[num_cols])
df[cat_cols] = SimpleImputer(strategy="most_frequent").fit_transform(df[cat_cols])

In [ ]:
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df[col] = df[col].clip(lower, upper)

In [ ]:
cat_cols = df.select_dtypes(include=["object", "category"]).columns

df = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [ ]:
print(df.shape)
print(df.isna().sum().sum())

(148670, 51)
0

In [ ]:
print(df)

              id    year  loan_amount  rate_of_interest  interest_rate_spread  \
0        24890.0  2019.0     116500.0             3.990               0.39040
1        24891.0  2019.0     206500.0             3.990               0.39040
2        24892.0  2019.0     406500.0             4.560               0.20000
3        24893.0  2019.0     456500.0             4.250               0.68100
4        24894.0  2019.0     696500.0             4.000               0.30420
...          ...     ...          ...               ...                   ...
148665  173555.0  2019.0     436500.0             3.125               0.25710
148666  173556.0  2019.0     586500.0             5.000               0.85440
148667  173557.0  2019.0     446500.0             3.125               0.08160
148668  173558.0  2019.0     196500.0             3.500               0.58240
148669  173559.0  2019.0     406500.0             4.375               1.27775

        upfront_charges   term  property_value   income  credit_score  ...  \
0             2596.4500  360.0        118000.0   1740.0         758.0  ...
1             2596.4500  360.0        418000.0   4980.0         552.0  ...
2              595.0000  360.0        508000.0   9480.0         834.0  ...
3             2596.4500  360.0        658000.0  11880.0         587.0  ...
4                0.0000  360.0        758000.0  10440.0         602.0  ...
...                 ...    ...             ...      ...           ...  ...
148665        7848.7375  360.0        608000.0   7860.0         659.0  ...
148666           0.0000  360.0        788000.0   7140.0         569.0  ...
148667        1226.6400  360.0        728000.0   6900.0         702.0  ...
148668        4323.3300  360.0        278000.0   7140.0         737.0  ...
148669        6000.0000  360.0        558000.0   7260.0         830.0  ...

        age_45-54  age_55-64  age_65-74  age_<25  age_>74  \
0           False      False      False    False    False
1           False       True      False    False    False
2           False      False      False    False    False
3            True      False      False    False    False
4           False      False      False    False    False
...           ...        ...        ...      ...      ...
148665      False       True      False    False    False
148666      False      False      False    False    False
148667       True      False      False    False    False
148668      False       True      False    False    False
148669       True      False      False    False    False

        submission_of_application_to_inst  region_North-East  region_central  \
0                                    True              False           False
1                                    True              False           False
2                                    True              False           False
3                                   False              False           False
4                                   False              False           False
...                                   ...                ...             ...
148665                               True              False           False
148666                              False              False           False
148667                              False              False           False
148668                               True              False           False
148669                              False              False           False

        region_south  security_type_direct
0               True                  True
1              False                  True
2               True                  True
3              False                  True
4              False                  True
...              ...                   ...
148665          True                  True
148666          True                  True
148667         False                  True
148668         False                  True
148669         False                  True

[148670 rows x 51 columns]

In [ ]:
final_csv_path = "/content/drive/MyDrive/infosys/Loan_Default_Final_Cleaned.csv"

df.to_csv(final_csv_path, index=False)

print("Final CSV file saved successfully!")

Final CSV file saved successfully!

In [ ]:
print("status" in df.columns)

True

In [ ]:
print(df.columns.tolist())

['id', 'year', 'loan_amount', 'rate_of_interest', 'interest_rate_spread', 'upfront_charges', 'term', 'property_value', 'income', 'credit_score', 'ltv', 'status', 'dtir1', 'loan_limit_ncf', 'gender_Joint', 'gender_Male', 'gender_Sex Not Available', 'approv_in_adv_pre', 'loan_type_type2', 'loan_type_type3', 'loan_purpose_p2', 'loan_purpose_p3', 'loan_purpose_p4', 'credit_worthiness_l2', 'open_credit_opc', 'business_or_commercial_nob/c', 'neg_ammortization_not_neg', 'interest_only_not_int', 'lump_sum_payment_not_lpsm', 'construction_type_sb', 'occupancy_type_pr', 'occupancy_type_sr', 'secured_by_land', 'total_units_2U', 'total_units_3U', 'total_units_4U', 'credit_type_CRIF', 'credit_type_EQUI', 'credit_type_EXP', 'co-applicant_credit_type_EXP', 'age_35-44', 'age_45-54', 'age_55-64', 'age_65-74', 'age_<25', 'age_>74', 'submission_of_application_to_inst', 'region_North-East', 'region_central', 'region_south', 'security_type_direct']

In [ ]:
df["status"].value_counts()

status
0.0    148670
Name: count, dtype: int64

NameError: name 'model' is not defined